@charset "UTF-8";
@media (max-width: 768px) {

:root {
    --fontTexto: "Lora", serif;
    --fontTexto2: 'Playfair Display', serif;
}
header {
    width: 100%;
    height: 100vh;
    min-height: 300px;
    background-image: url(../imagens/cabeçalho.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0;
    padding:0;
    
}

header > p {
    font-family: var(--fontTexto2);
}

.convite-topo {
    background-color: #f5f1e8;
    text-align: center;
    padding: 80px 20px;
    color: #D4AF37;
}

/*texto pequeno intro*/
.intro {
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.pais {
    font-size: 14px;
    margin-bottom: 0px;
}
.texto {
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}
.nomes {
    font-family: 'Parisiene', cursive;
    font-size: 50px;
    font-weight: normal;
    margin: 0;
}
.nomes span {
    display: block;
    font-size: 60px;
    margin: 10px 0;
}
section.imagem {
    background-image: url(../imagens/praiah.jpeg);
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;

    min-height: 60vh;
    height: 80vh;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

section.imagem >p {
    text-align: left;
    margin: 20px;
}
}


